<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active" *ngIf="this.itemWithImages['files'].length>0">
                            <img [src]="this.itemWithImages['files'][i].fileBase64String"
                                class="d-block w-100 image-slider-style" alt="...">

                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-slide="prev" (click)="slideImages('-')">

                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-slide="next" (click)="slideImages('+')">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-5">

            <h1 class="item-name-h1"> {{this.itemWithImages['item'].name}}</h1>
            <mat-divider></mat-divider>

            <p>Rs.{{this.itemWithImages['item'].price}} </p>
            <mat-divider></mat-divider>

            <p class="description-p">{{this.itemWithImages['item'].description}} </p>
            <mat-divider></mat-divider>


            <div class="row image-small-div-row">
                <ng-container *ngFor="let imgData of this.itemWithImages['files'] ;  let i = index">
                    <div class="image-small-div col-3">
                        <img [src]="imgData.fileBase64String" class="image-small-img" alt="..." (click)="imageClick(i)">
                    </div>

                </ng-container>

            </div>




        </div>
        <div class="col-3">

            <div class="right-divs"  *ngIf="sharedVariableService.user">
                <span>Ship to :</span>
                <span  >
                    {{sharedVariableService.user.address}}
                </span>
                <button    style="margin-top :20px;margin-bottom :20px  " mat-raised-button color="primary" (click)="changeAddressClick()">
                    change
                </button>

                
                <div *ngIf="changeAddressView">
                    <div>
                        <textarea matInput placeholder="enter your new shipping address and save"  [(ngModel)]="address" name="address"></textarea>

                    </div>
                    <button   style="margin-top :20px;margin-bottom :20px  "  mat-raised-button  (click)="saveNewAddress()">
                        save
                    </button>
                </div>


            </div>

            <mat-divider></mat-divider>
            <div class="right-divs">
                <span>delivery by Apr 12</span>
            </div>

            <mat-divider></mat-divider>
            <div class="right-divs">
                <p>Quantity </p>
                <button mat-icon-button   (click)="quantityChange(-1)">
                    <mat-icon>remove</mat-icon>
                </button>
                <span>
                    <input matInput placeholder="1" value="1" class="quantity-input" type="number" [(ngModel)]="quantity" min=0>
                </span>
                <button mat-icon-button  (click)="quantityChange(1)">
                    <mat-icon>add</mat-icon>
                </button>

            </div>
            <mat-divider></mat-divider>
            <div class="right-divs">

                <button mat-raised-button class="buy-now-button" [disabled]="disable">
                    Buy Now
                </button>
                <button mat-raised-button class="add-to-cart-button" (click)="addToCart()"  [disabled]="disable">
                    Add to Cart
                </button>
                <a mat-raised-button class="share-button" [href]="shareUrl" target="_blank">
                    <mat-icon>share</mat-icon> Share
                </a>

                <button mat-raised-button class="like-button"  [disabled]="disable">
                    <svg class="favorite-icon-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg> Like
                </button>

            </div>
        </div>

        <div class="col-6 key-divs">

            <ng-container *ngFor="let key of keys">
                <ng-container
                    *ngIf="key!='name' && key!='price' && key!='description' && key!='fileIds' && key!='itemOwnerUserId' && this.itemWithImages['item'][key]!=''">
                    <div class="row">

                        <div class="col-4">{{this.sharedVariableService.itemKeyMap[key]}} : </div>
                        <div class="col-8"> {{this.itemWithImages['item'][key]}}</div>
                    </div>
                    <mat-divider></mat-divider>


                </ng-container>
            </ng-container>
        </div>
        <div class="col-6">
        </div>

    </div>

</div>