.navbar-div {}

.sidebar-container-div {}


.sidebar-div {
    background: rgb(21, 141, 197);


}

.container-div {
    height: 100vh;

}

.footer-div {

    background: gray;
    margin: unset;
    height: 15vh;

}