.navbar-div{
    

}

.sidebar-container-div{
    /* height: 100vh; */

}


.sidebar-div{
    background: rgb(21, 141, 197);
    height: 100vh;


}

.container-div{

}

.footer-div{

    background: gray;
    margin: unset;
    height: 15vh;

}