.navbar-div {
    /* min-height: 5vh; */

}

.sidebar-container-div {}


.sidebar-div {
    background: rgb(243 243 243)


}

.container-div {
    min-height: 80vh;
    padding: 20px;

}

.footer-div {

    background: gray;
    margin: unset;
    min-height: 15vh;

}