<div class="container-fluid navbar-container-div">
    <div class="row align-items-center row-style">
        <div class="col-lg-2 col-sm-5">
            <div class="container-fluid icon-div">
                <div class="row align-self-center">
                    <span class="navbar-brand col-4 nav-text home-img-span">
                        <img *ngIf="siteLogo" [src]="siteLogo['fileBase64String']" class="home-img">
                    </span>
                    <a *ngIf="username == undefined || username== null||username== 'null'"
                        class="navbar-brand col-4 nav-text" [routerLink]="['/signin']">
                        Sign in</a>
                    <a *ngIf="username == undefined|| username== null||username== 'null'"
                        class="navbar-brand col-4 nav-text" [routerLink]="['/register']">Register</a>
                </div>
            </div>

        </div>
        <div class="col-lg-7 col-sm-2 ">
            <span class="">
                {{ username != undefined && username!= null && username!= 'null' ? username:''}}

            </span>
        </div>
        <div class="col-lg-3 col-sm-5 ">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-8 col-sm-6">
                        <input class="form-control me-2" type="search" placeholder="chocolate" aria-label="Search">

                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <button class="btn navbar-btn-style" type="submit">Search</button>
                    </div>
                    <div class="col-lg-1 col-sm-2">
                        <button mat-mini-fab color="primary" aria-label="" (click)="logout()">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>