.nav-bar-style {
    background: #d11da4;
}

.navbar-btn-style {
    background: transparent;
    color: white;
}

.navbar-container-div {
    background: #f82ad6;
}

.nav-text {
    color: white;
}

.row-style{
    min-height: 5vh;

}