<!-- <div class="container-fluid">
    <div class="row justify-content-center align-items-center ">
        <div class="col-12 col-md-4">
            <form>
                <div class="mb-3">
                    <label class="form-label">Item name</label>
                    <input name="abc" [(ngModel)]="item.name"   type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Condition</label>
                    <input name="abc" [(ngModel)]="item.condition"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">sale ends in</label>
                    <input name="abc" [(ngModel)]="item.saleEnd"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input name="abc" [(ngModel)]="item.quantity"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input name="abc" [(ngModel)]="item.price"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Postage</label>
                    <input name="abc" [(ngModel)]="item.postage"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Delivary</label>
                    <input name="abc" [(ngModel)]="item.delivery"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Returns</label>
                    <input name="abc" [(ngModel)]="item.return"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Coverage</label>
                    <input name="abc" [(ngModel)]="item.coverage"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Item specification</label>
                    <input name="abc" [(ngModel)]="item.specification"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Condition Description</label>
                    <input name="abc" [(ngModel)]="item.conditionDescription"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Type</label>
                    <input name="abc" [(ngModel)]="item.type"  type="text" class="form-control">
                </div><div class="mb-3">
                    <label class="form-label">Color</label>
                    <input name="abc" [(ngModel)]="item.color"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <input name="abc" [(ngModel)]="item.gender"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input name="abc" [(ngModel)]="item.description"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Brand</label>
                    <input name="abc" [(ngModel)]="item.brand"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Size</label>
                    <input name="abc" [(ngModel)]="item.size"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Style</label>
                    <input name="abc" [(ngModel)]="item.style"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Material</label>
                    <input name="abc" [(ngModel)]="item.material"  type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Country/Region of Manufacture</label>
                    <input name="abc" [(ngModel)]="item.countryManufactured"  type="text" class="form-control">
                </div>

                <button type="button" class="btn btn-primary"  >add item</button>
            </form>
        </div>
    </div>

</div> -->





<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-12 col-md-4">
                        <form>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control" type="file" (change)="uploadFile($event)"  >
                              </div>
                            <div class="mb-3">
                                <label class="form-label">Item name</label>
                                <input name="abc" [(ngModel)]="item.name" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Condition</label>
                                <input name="abc" [(ngModel)]="item.condition" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">sale ends in</label>
                                <input name="abc" [(ngModel)]="item.saleEnd" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Quantity</label>
                                <input name="abc" [(ngModel)]="item.quantity" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input name="abc" [(ngModel)]="item.price" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Postage</label>
                                <input name="abc" [(ngModel)]="item.postage" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Delivary</label>
                                <input name="abc" [(ngModel)]="item.delivery" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Returns</label>
                                <input name="abc" [(ngModel)]="item.return" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Coverage</label>
                                <input name="abc" [(ngModel)]="item.coverage" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Item specification</label>
                                <input name="abc" [(ngModel)]="item.specification" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Condition Description</label>
                                <input name="abc" [(ngModel)]="item.conditionDescription" type="text"
                                    class="form-control">
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-12 col-md-4">
                        <form>

                            <div class="mb-3">
                                <label class="form-label">Type</label>
                                <input name="abc" [(ngModel)]="item.type" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Color</label>
                                <input name="abc" [(ngModel)]="item.color" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Gender</label>
                                <input name="abc" [(ngModel)]="item.gender" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input name="abc" [(ngModel)]="item.description" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Brand</label>
                                <input name="abc" [(ngModel)]="item.brand" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Size</label>
                                <input name="abc" [(ngModel)]="item.size" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Style</label>
                                <input name="abc" [(ngModel)]="item.style" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Material</label>
                                <input name="abc" [(ngModel)]="item.material" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Country/Region of Manufacture</label>
                                <input name="abc" [(ngModel)]="item.countryManufactured" type="text"
                                    class="form-control">
                            </div>

                            <button type="button" class="btn btn-primary">add item</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>