<!-- <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" *ngIf="itemWithImages['files'].length>0"  (click)="gotoItem(itemWithImages)">
            <img [src]="itemWithImages['files'][i].fileBase64String" class="image-slider-style" alt="...">

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-slide="prev" (click)="slideImages('-')">

        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-slide="next" (click)="slideImages('+')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->

<div class="row">
    <div class="col-2">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" *ngIf="itemWithImages['files'].length>0"
                    (click)="gotoItem(itemWithImages)">
                    <img [src]="itemWithImages['files'][i].fileBase64String" class="image-slider-style" alt="...">

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-slide="prev" (click)="slideImages('-')">

                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-slide="next" (click)="slideImages('+')">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="col-9">


        <div class="row">

            <div class="col-6">
                <p style="font-size: 20px;font-weight: 400;">{{itemWithImages.item['name']}}</p>
                <p style="font-size: 14px;color: gray;">Rs.{{itemWithImages.item['price']}}</p>
                <p style="font-size: 16px;color: rgb(67, 247, 22);">{{itemWithImages.item['condition']}}</p>

            </div>

            <div class="col-6">

                <div class="right-divs">
                    <p>Quantity </p>
                    <button mat-icon-button (click)="quantityChange(-1)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <span>
                        <input matInput placeholder="1" value="1" class="quantity-input" type="number"
                            [(ngModel)]="quantity" min=0>
                    </span>
                    <button mat-icon-button (click)="quantityChange(1)">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>
            </div>
        </div>



    </div>
</div>