<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-12 col-md-8">
                        <form>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Images</label>
                                <input class="form-control" type="file" (change)="uploadFile($event)" multiple>
                            </div>

                            <div>
                                <div class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel slide" data-bs-ride="carousel">

                                        <div class="carousel-inner">
                                            <div class="carousel-item active image-slider-div" *ngIf="uploadedImageBase64List.length>0">
                                                <img [src]="uploadedImageBase64List[i].fileBase64String"
                                                    class="image-slider-style" alt="...">
                                                <!-- <a mat-mini-fab color="primary" class="remove-button"
                                                    (click)="removeItem(uploadedImageBase64List[i],i)"><mat-icon>delete</mat-icon></a> -->

                                            </div>
                                            <a mat-mini-fab color="primary" class="remove-button"
                                                    (click)="removeItem(uploadedImageBase64List[i],i)"><mat-icon>delete</mat-icon></a>

                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-slide="prev"
                                            (click)="slideImages('-')">

                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-slide="next"
                                            (click)="slideImages('+')">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Item name</label>
                                <input name="abc" [(ngModel)]="item.name" name="item.name" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Condition</label>

                                    <mat-select [(ngModel)]="item.condition" name="item.condition">
                                        <ng-container *ngFor="let condition of conditions">
                                            <mat-option [value]="condition.value">{{condition.viewValue}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                    
                            </div>
                            <div class="mb-3">
                                <label class="form-label">sale ends in</label>
                                <input name="abc" [(ngModel)]="item.saleEnd" name="item.saleEnd" type="text"
                                    class="form-control">

                                    <!-- <mat-form-field>
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker" [(ngModel)]="item.saleEnd" name="item.saleEnd">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field> -->
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Quantity</label>
                                <input name="abc" [(ngModel)]="item.quantity" name="item.quantity" type="number"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input name="abc" [(ngModel)]="item.price" name="item.price" type="number"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Postage</label>
                                <input name="abc" [(ngModel)]="item.postage" name="item.postage" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Delivary</label>
                                <input name="abc" [(ngModel)]="item.delivery" name="item.delivery" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Returns</label>
                                <input name="abc" [(ngModel)]="item.return" name="item.return" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Coverage</label>
                                <input name="abc" [(ngModel)]="item.coverage" name="item.coverage" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Item specification</label>
                                <input name="abc" [(ngModel)]="item.specification" name="item.specification" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Condition Description</label>
                                <input name="abc" [(ngModel)]="item.conditionDescription"
                                    name="item.conditionDescription" type="text" class="form-control">
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-12 col-md-8">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Type</label>
                                <input name="abc" [(ngModel)]="item.type" name="item.type" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Color</label>
                                <input name="abc" [(ngModel)]="item.color" name="item.color" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Gender</label>
                                <mat-select [(ngModel)]="item.gender" name="item.gender">
                                    <ng-container *ngFor="let gender of genders">
                                        <mat-option [value]="gender.value">{{gender.viewValue}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input name="abc" [(ngModel)]="item.description" name="item.description" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Brand</label>
                                <input name="abc" [(ngModel)]="item.brand" name="item.brand" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Size</label>
                                <input name="abc" [(ngModel)]="item.size" name="item.size" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Style</label>
                                <input name="abc" [(ngModel)]="item.style" name="item.style" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Material</label>
                                <input name="abc" [(ngModel)]="item.material" name="item.material" type="text"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Country/Region of Manufacture</label>
                                <input name="abc" [(ngModel)]="item.countryManufactured" name="item.countryManufactured"
                                    type="text" class="form-control">
                            </div>
                            <button type="button" class="btn btn-primary" (click)="editItem()">add item</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>