<div class="container">
    <div class="row">
        <div class="col-8" style="min-height: 40vh;">
            <div>
                <h1>Shopping Cart({{itemsWithImages.length}})</h1>
            </div>
            <div>
                <mat-checkbox class="example-margin" (change)="selectAll($event)"
                    [checked]="selectedItems.length == itemsWithImages.length">
                    Select All
                </mat-checkbox>
                &nbsp;&nbsp;&nbsp;&nbsp;
                |
                &nbsp;&nbsp;&nbsp;
                <span (click)="deleteSelectdeItems()" class="delete-all-span">
                    Delete selected items
                </span>
            </div>
            <mat-divider></mat-divider>
            <div class="row " *ngFor="let cartItem of itemsWithImages">
                <div class="col-1">
                    <mat-checkbox class="example-margin" (change)="checkItem(cartItem,$event)"
                        [checked]="selectedItems.length == itemsWithImages.length || isInSelectedList(cartItem)">
                    </mat-checkbox>
                </div>
                <div class="col-11">
                    <app-cart-item-row [itemWithImages]="cartItem"
                        (quantityEvent)="changeQuantity($event)"></app-cart-item-row>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
        <div class="col-4"
            style="background-color: rgb(244 247 249);min-height: 40vh;padding-top: 20px;border-radius: 5px;">
            <div>
                <h1>Summary</h1>
            </div>
            <div class="row">
                <div class="col-8">Subtotal</div>
                <div class="col-4">Rs. {{subTotal}}</div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-8">Shipping fee</div>
                <div class="col-4">Rs.{{shippingFee}}</div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-8">Total</div>
                <div class="col-4">Rs.{{total}}</div>
            </div>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="checkout()">
                Checkout({{selectedItems.length}})
            </button>
        </div>
    </div>
</div>