<div class="card" style="width: 18rem;">
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" *ngIf="itemWithImages.files.length>0">
                    <img [src]="itemWithImages.files[i].fileBase64String" class="d-block w-100 image-slider-style"
                        alt="...">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-slide="prev" (click)="slideImages('-')">

                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-slide="next" (click)="slideImages('+')">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{itemWithImages.item.name}}</h5>
        <h5 class="card-title">{{itemWithImages.item.condition}}</h5>
        <p class="card-text">{{itemWithImages.item.description}}</p>
        <h5>Rs.{{itemWithImages.item.price}}</h5>
        <a mat-mini-fab color="primary" class="view-button"><mat-icon>visibility</mat-icon> </a>
        <a mat-mini-fab color="primary" class="add-to-cart-button"><mat-icon>shopping_cart</mat-icon></a>
        <a mat-mini-fab color="primary" class="edit-button"><mat-icon>edit</mat-icon></a>
        <a mat-mini-fab color="primary" class="remove-button"><mat-icon>delete</mat-icon></a>


    </div>
</div>